<div class="about-wrapper">
    <div class="about-left">
      <h1 id="about-line1">Hi!</h1>
      <!-- <hr class="sexy-line"> -->
      <p id="about-description-intro">My name is Adam, I'm <span id="age" ng-if="dob && currYear">{{currYear-dob}}</span> and I'm a developer with experience using AngularJS, NodeJS and WordPress. I'm also familiar with working within MVC architecture. I graduated from University in 2018 and I'm currently working as a front-end developer in Leicestershire where I use my knowledge of JavaScript to build awesome websites and interfaces.</p>
      <!-- <hr class="sexy-line"> -->
      <p class="about-description">I love spending time actively outside. One of my hobbies is karting. As someone who loves motorsport and is naturally very competitive, karting is a perfect way to get that fix of speed and adrenaline.</p>
      <!-- <hr class="sexy-line"> -->
      <p class="about-description">I'm pasionate about what I do and that's why I invest a lot of time in myself by studying and learning new technologies whenever I can. I'm always on the lookout to get involved in interesting projects as I do some freelance work. Drop me an email to discuss any ideas you may have.</p>
      <div class="d-inline-flex justify-content-between mt-3">
        <a id="about-btn1" class="type2" href="/home"><i class="fas fa-arrow-left icon mr-2"></i> Portfolio</a>
        <a id="about-btn2" class="type2" href="/contact">Get in touch <i class="fas fa-arrow-right icon ml-2"></i></a>
      </div>
    </div>

    <div class="about-right mt-sm-3">
      <img class="w-100 mb-2" src="images/me.jpg" alt="Karting photo">
      <img class="w-100" src="images/me2.jpg" alt="Silverstone photo">
    </div>
</div>
