<div class="gridWrapper" id="wrapper"><!--gridWrapper _OLD-->

  <a class="item1 flip-container scrollTo" href="/project/{{projects[0].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Oxygen Graphics</h1>
        <h3 class="item-category">Digital Agency</h3>
      </div>
    </div>
  </a>

  <a class="item2 flip-container scrollTo" href="/project/{{projects[1].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">U-Mapping</h1>
        <h3 class="item-category">Topographic Mapping</h3>
      </div>
    </div>
  </a>

  <a class="item3 flip-container scrollTo" href="/project/{{projects[2].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Trailing Lights Project</h1>
        <h3 class="item-category">University Assignment</h3>
      </div>
    </div>
  </a>

  <a class="item4 flip-container scrollTo" href="/project/{{projects[3].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">F1 Tracks App</h1>
        <h3 class="item-category">Personal Project</h3>
      </div>
    </div>
  </a>

  <a class="item5 flip-container scrollTo" href="/project/{{projects[4].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">GR Repairs</h1>
        <h3 class="item-category">Watch Servicing</h3>
      </div>
    </div>
  </a>

  <a class="item6 flip-container scrollTo" href="/project/{{projects[5].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Capital Specialist Solutions</h1>
        <h3 class="item-category">Health & Safety Compliance</h3>
      </div>
    </div>
  </a>

  <a class="item7 flip-container scrollTo" href="/project/{{projects[6].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Prezzybox.com</h1>
        <h3 class="item-category">Online Retailer</h3>
      </div>
    </div>
  </a>

  <a class="item8 flip-container scrollTo" href="/about">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">About Me</h1>
      </div>
    </div>
  </a>

  <a class="item9 flip-container scrollTo" href="/project/{{projects[8].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">UKBIC</h1>
        <h3 class="item-category">Battery Industrialisation Centre</h3>
      </div>
    </div>
  </a>

  <a class="item10 flip-container scrollTo" href="/project/{{projects[9].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Angular 2+ To Do App</h1>
        <h3 class="item-category">Personal Project</h3>
      </div>
    </div>
  </a>

  <a class="item11 flip-container scrollTo" href="/project/{{projects[10].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Edward Knight</h1>
        <h3 class="item-category">Estate Agency</h3>
      </div>
    </div>
  </a>

  <a class="item12 flip-container scrollTo" href="/project/{{projects[11].id}}">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Car Browser App</h1>
        <h3 class="item-category">AngularJS App</h3>
      </div>
    </div>
  </a>

  <a class="item13 flip-container scrollTo" href="/contact">
    <div class="flipper">
      <div class="front"></div>
      <div class="back">
        <h1 class="item-title">Get in touch</h1>
      </div>
    </div>
  </a>
</div>

<div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>
