<div class="background-wrapper" ng-init="init()">

    <div class="background-left">
        <div id="main_home" class="main_home">
            <h6 class="pre-name">My name is</h6>
            <h1 id="name">Adam</h1>
            <h6 id="post-name">I'm a...</h6>
            <h2 class="typeText text-center">
                <span class="typewrite">
                    <span id="str" class="position txt-type typing"></span>
                </span>
            </h2>
        </div>
        
        <div class="entryButton-wrapper">
            <div id="entryButton">
                <a class="button type1 neon" data-text="[Explore My Portfolio]" href="/home">Explore My Portfolio</a>
            </div>
        </div>
    </div>

    <div class="background-right">

    </div>

</div>